{% extends 'master.html' %}
{% block title %}Edit{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-left">
            <h5>User App</h5>
        </div>
        <div class="text-right">
            <a href="{% url 'accounts:user_list' %}" class="btn btn-success m-0">List</a>
        </div>
        <br>
        <div class="card">
            <div class="card-header">Edit User</div>
            <div class="card-body">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {% include 'accounts/form.html' %}

                    <div class='form-group'>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('.user_type').on('change', function() {
      if( this.value == 'parent'){
        $('.address').css('display', 'block');
        $('.parent_id').css('display', 'none');
      }else{
        $('.address').css('display', 'none');
        $('.parent_id').css('display', 'block');
      }
    });
</script>
{% endblock %}