<!DOCTYPE html> {% load static %}

<html lang="en">

<head>
    <title>User Panel | {% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body>

    <div class="container" style="margin-top: 40px;">
    
        {% block content %}
        <!-- Html code goes here -->
        {% endblock %}

    </div>

    {% block script %}
        <!-- Javscript goes here -->
    {% endblock %}

</body>

</html>